language: java

install:
  - export VERSION=9.2.1
  - export GRADLE_DIR=/tmp/gradle
  - wget https://services.gradle.org/distributions/gradle-${VERSION}-bin.zip
  - mkdir ${GRADLE_DIR}
  - unzip -d ${GRADLE_DIR} gradle-${VERSION}-bin.zip
  - export PATH=${GRADLE_DIR}/gradle-${VERSION}/bin:$PATH
  - gradle -v

dist: xenial

os:
  - linux
  - osx
  - windows

jdk:
  - openjdk27 
  - openjdk26
  - openjdk25
  - openjdk24
  - openjdk23
  - openjdk22
  - openjdk21

jobs:
  allow_failures:
    - jdk: openjdk27
